---
import Base from "../../layouts/Base.astro";
import AuthorInfo from "../../components/AuthorInfo.astro";
import LatestPosts from "../../components/LatestPosts.astro";

import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
entry.data.type = "blog";

const { Content } = await entry.render();
const author = await getEntry(entry.data.author);
---

<Base postData={entry}>
  <section class="container mx-auto max-w-screen-lg px-7 py-10">
    <article
      class="lg:mb-[100px] mb-10 prose lg:prose-xl max-w-none prose-headings:font-bold prose-headings:text-tailblog-accent prose-p:text-tailblog-primary/70 lg:prose-p:text-[18px] prose-a:text-tailblog-dark prose-a:hover:text-tailblog-pink prose-a:no-underline prose-strong:font-normal prose-headings:font-tailblog-space prose-h2:mb-3 prose-a:font-semibold"
    >
      <h1>{entry.data.title}</h1>
      <Content />
    </article>

    <AuthorInfo authorData={author} />

    <h2>Read more</h2>
    <LatestPosts postLimit=2 skipPost={entry.data.title} />
  </section>
</Base>
