---
import ModeSwitch from "./ModeSwitch.astro";
import HamburgerButton from "./HamburgerButton.astro";
import Navigation from "./Navigation.astro"

---

<header class="container mx-auto max-w-screen-xl px-7 py-10 bg-white flex flex-initial flex-row gap-10 items-center justify-between transition-all duration-300 dark:bg-pacamara-dark">
    <div class="logo flex-none">
        <a href="/" class="font-bold font-pacamara-space text-lg hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Pacamara</a>
    </div>
    <div class="navigation flex-1 hidden md:block">
        <Navigation />
    </div>

    <div class="navigation flex-1 hidden" id="navigation_wrapper">
        <Navigation />
    </div>
    
    <div class="relative flex flex-initial flex-row items-center">
        <ModeSwitch />
        <HamburgerButton />
    </div>
    
</header>
