---
import ModeSwitch from "./ModeSwitch.astro";
import HamburgerButton from "./HamburgerButton.astro";
import Navigation from "./Navigation.astro"

---
<div class="navigation flex-1 hidden absolute top-0 left-0 w-full bg-pacamara-white dark:bg-pacamara-dark transition-all duration-300 p-7 pt-[112px] z-10 shadow-2xl" id="navigation_wrapper">
    <Navigation />
</div>
<header class="container mx-auto max-w-screen-xl px-7 py-10 bg-white flex flex-initial flex-row gap-10 items-center justify-between transition-all duration-300 dark:bg-pacamara-dark relative z-20">
    <div class="logo flex-none">
        <a href="/" class="font-bold font-pacamara-space text-lg hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Pacamara</a>
    </div>
    <div class="navigation flex-1 hidden md:block">
        <Navigation />
    </div>
    
    <div class="relative flex flex-initial flex-row items-center gap-5">
        <ModeSwitch />
        <HamburgerButton />
    </div>
    
</header>
