---
import ModeSwitch from "./ModeSwitch.astro";

---

<header class="ontainer mx-auto max-w-screen-xl px-7 py-10 bg-white flex flex-initial flex-row gap-10 content-center items-center transition-all duration-300 dark:bg-pacamara-dark">
    <div class="logo flex-none">
        <a href="/" class="font-bold font-pacamara-space text-lg hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Pacamara</a>
    </div>
    <div class="navigation flex-1 hidden md:block">
        <nav>
            <ul class="list-none text-[14px] font-normal flex flex-initial flex-row gap-5">
                <li>
                    <a href="/" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Home</a>
                </li>
                <li>
                    <a href="/blog" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Blog</a>
                </li>
                <li>
                    <a href="/" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <ModeSwitch />
</header>
