<nav>
    <ul class="list-none text-[14px] font-normal flex flex-initial flex-col md:flex-row gap-5">
        <li>
            <a href="/" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Home</a>
        </li>
        <li>
            <a href="/blog" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">Blog</a>
        </li>
        <li>
            <a href="/about-me" class="opacity-60 text-pacamara-primary hover:opacity-100 hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">About me</a>
        </li>
    </ul>
</nav>