---
const { tag } = Astro.props;
---
{tag &&
<span class="group text-[16px] bg-transparent border-pacamara-secondary border-[1px] leading-none rounded-full flex flex-row content-center items-center h-[34px] px-3 text-pacamara-secondary">
    <span>{tag}</span>
</span>
}