<section class="
    container mx-auto max-w-screen-xl px-7 py-10
    lg:min-h-[500px] grid grid-cols-1 content-center font-tailblog
    prose lg:prose-xl max-w-none lg:prose-xl prose-headings:font-bold prose-headings:text-tailblog-primary prose-p:text-tailblog-secondary lg:prose-h1:text-6xl
    prose-img:mt-0 prose-img:mb-0
">
    <picture class="relative w-[150px] lg:w-[220px] flex-none overflow-hidden rounded-full">
        <img src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&h=600&q=80" alt="">
    </picture>
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit
    </p>
    <h1 class="font-tailblog-space">I see a bad-ass mother who don't take no crap off of nobody.</h1>
</section>
