---
import { Image } from 'astro:assets'

import Base from "../layouts/Base.astro";

import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const pageEntries = await getCollection("page");

  return pageEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
entry.data.type = "blog";

const { Content } = await entry.render();
---

<Base postData={entry}>
  <article class="px-7 pt-10 mx-auto w-full">
    <div class="mx-auto
      prose lg:prose-xl prose-headings:font-bold prose-headings:text-pacamara-dark prose-headings:mb-3
      ">
        <h1 class="transition-all duration-300 dark:text-white">{entry.data.title}</h1>
    </div>
    {entry.data.image && 
        <Image src={entry.data.image} width="1200" height="250" alt="" loading="eager" decoding="sync" class="block relative mx-auto mt-10 object-cover h-72 md:h-[350px] image-shine rounded-[15px]" loading="eager" />
    }
        <div class="
            lg:px-0 pt-10 mb-5 mx-auto
            prose lg:prose-xl
            prose-headings:transition-all prose-headings:duration-300 prose-headings:font-pacamara-space prose-headings:font-bold prose-headings:text-pacamara-accent prose-headings:mb-0 prose-headings:pb-3 prose-headings:mt-6
            prose-p:transition-all prose-p:duration-300 prose-p:text-pacamara-primary/80 
            prose-li:transition-all prose-li:duration-300 prose-li:text-pacamara-primary/80
            prose-td:transition-all prose-td:duration-300 prose-td:text-pacamara-primary/80
            prose-a:underline prose-a:font-semibold prose-a:transition-all prose-a:duration-300 prose-a:text-pacamara-accent hover:prose-a:text-pacamara-dark
            prose-strong:transition-all prose-strong:duration-300 prose-strong:font-bold
            prose-hr:transition-all prose-hr:duration-300 prose-hr:border-pacamara-secondary/40
            prose-img:rounded-lg prose-img:mx-auto 
            prose-code:transition-all prose-code:duration-300 prose-code:text-pacamara-dark
            dark:prose-headings:text-pacamara-accent dark:prose-p:text-white/70 dark:prose-a:text-white dark:hover:prose-a:text-pacamara-accent dark:prose-strong:text-white dark:prose-li:text-white dark:prose-code:text-white dark:prose-td:text-white/70 dark:prose-hr:border-pacamara-accent/30 dark:prose-tr:border-pacamara-accent/30 dark:prose-thead:border-pacamara-accent/30
        ">
        <Content />
    </div>
</article>

</Base>
