---
import Base from "../layouts/Base.astro";
import Welcome from "../components/Welcome.astro";
import LatestPosts from "../components/LatestPosts.astro";
---

<Base>
	<main>
		<Welcome />
		<LatestPosts />
	</main>
</Base>
