---
import Base from "../layouts/Base.astro";
import Welcome from "../components/general/Welcome.astro";
import LatestPosts from "../components/blog/LatestPosts.astro";
---

<Base>
	<main>
		<Welcome />
		<LatestPosts />
	</main>
</Base>
