---
import { Image } from 'astro:assets'
const { authorData } = Astro.props;
---

<div>{authorData.data.displayName}</div>

<p>{authorData.data.bio}</p>

{authorData.data.photo && <Image src={authorData.data.photo} width="150" alt="Author's photo" /> }

