<header class="ontainer mx-auto max-w-screen-xl px-7 py-10 bg-white flex flex-initial flex-row gap-10 content-center items-center">
    <div class="logo flex-none">
        <a href="" class="font-bold font-tailblog-space text-lg">Maciek Palmowski</a>
    </div>
    <div class="navigation flex-1 hidden md:block">
        <nav>
            <ul class="list-none text-[14px] font-normal flex flex-initial flex-row gap-5">
                <li>
                    <a href="" class="opacity-60 text-tailblog-primary hover:opacity-100 hover:text-tailblog-accent transition-all duration-300">Home</a>
                </li>
                <li>
                    <a href="" class="opacity-60 text-tailblog-primary hover:opacity-100 hover:text-tailblog-accent transition-all duration-300">Blog</a>
                </li>
                <li>
                    <a href="" class="opacity-60 text-tailblog-primary hover:opacity-100 hover:text-tailblog-accent transition-all duration-300">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>