---
const { postData } = Astro.props;
---
<article
    class="lg:mb-[100px] mb-10 prose lg:prose-xl max-w-none prose-headings:font-bold prose-headings:text-tailblog-accent prose-p:text-tailblog-primary/70 lg:prose-p:text-[18px] prose-a:text-tailblog-dark prose-a:hover:text-tailblog-pink prose-a:no-underline prose-strong:font-normal prose-headings:font-tailblog-space prose-h2:mb-3 prose-a:font-semibold"
>
    <h2>
        <a href={ '/' + postData.slug } class="text-tailblog-dark hover:text-tailblog-accent transition-all duration-300">{ postData.data.title }</a>
    </h2>

    <p>
        { postData.data.intro }
    </p>

    <p class="flex flex-row flex-wrap gap-5 items-center font-tailblog-space">
        <span class="group text-[16px] relative inline-block bg-tailblog-accent/60 rounded-tl-[10px] rounded-br-[10px] px-3 text-white">
            marketing
        </span>
    
        <small class=" text-tailblog-accent text-[16px]">{ postData.data.pubDate.toDateString() }</small>
    </p>
</article>
