---
const { postData } = Astro.props;
---
<article
    class="prose max-w-none prose-headings:font-bold prose-headings:text-tailblog-grey-dark prose-p:text-tailblog-grey prose-a:text-tailblog-grey-dark prose-a:hover:text-tailblog-pink prose-a:no-underline prose-strong:font-normal prose-strong:text-tailblog-grey-dark"
>
    <h2>
        <a href={ '/' + postData.slug }>{ postData.data.title }</a>
    </h2>

    <p>
        <strong>{ postData.data.pubDate.toDateString() }</strong> - { postData.data.intro }
    </p>
</article>
