<section class="lg:min-h-[500px] grid grid-cols-1 content-center font-tailblog
    prose max-w-none lg:prose-xl prose-headings:font-bold prose-headings:text-tailblog-grey-dark prose-p:text-tailblog-grey
    prose-img:mt-0 prose-img:mb-0
">
    <picture class="h-[200px] w-[200px] rounded-full overflow-hidden">
        <img src="https://images.unsplash.com/photo-1542190891-2093d38760f2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&h=600&q=80" alt="">
    </picture>
    <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit
    </p>
    <h1>I see a bad-ass mother who don't take no crap off of nobody.</h1>
</section>