---
import Alpine from 'alpinejs';

import SeoHead from "../components/general/SeoHead.astro"
import Header from "../components/general/Header.astro"
import Footer from "../components/general/Footer.astro"
import '../css/style.css';

const { postData } = Astro.props;
---
<!doctype html>
<html 
    x-data :class="($store.darkMode.on == 'true') ? 'dark' : ''"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="./rss.xml" />
    <SeoHead postData={postData} />
</head>

<body class="font-tailblog-inter transition-all duration-300 bg-white dark:bg-tailblog-dark">
    <Header />
    <slot />

    <Footer />
</body>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('darkMode', {
            on: ( ( localStorage.darkMode === "true" ) || ( localStorage.darkMode === undefined && window.matchMedia('(prefers-color-scheme: dark)').matches ) ) ? 'true' : '',

            toggle() {
                this.on = (this.on == "true") ? "false" : "true";
                localStorage.darkMode = this.on;
            }
        })
    })
</script>
</html>