---
import { ViewTransitions } from 'astro:transitions';
import SeoHead from "../components/general/SeoHead.astro"
import Header from "../components/general/Header.astro"
import Footer from "../components/general/Footer.astro"
import '../css/style.css';

const { postData } = Astro.props;
---
<!doctype html>
<html lang="en">

<head>
    <script is:inline>
        const setDarkMode = () => {
            if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
                localStorage.darkMode = 'true';
            } else {
                document.documentElement.classList.remove('dark')
                localStorage.darkMode = 'false';
            }
        }

        setDarkMode();
        // Runs on view transitions navigation
        document.addEventListener('astro:after-swap', setDarkMode);
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="./rss.xml" />
    <SeoHead postData={postData} />
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-600.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-700.woff2" as="font" crossorigin>
    <ViewTransitions />

</head>

<body class="font-pacamara-inter transition-all duration-300 bg-white dark:bg-pacamara-dark">
    <Header />
    <slot />

    <Footer />
</body>
</html>