---
import SeoHead from "../components/general/SeoHead.astro"
import Header from "../components/general/Header.astro"
import Footer from "../components/general/Footer.astro"
import '../css/style.css';

const { postData } = Astro.props;
---
<!doctype html>
<html 
    lang="en"   
>

<head>
    <script is:inline>
        if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
            localStorage.darkMode = 'true';
        } else {
            document.documentElement.classList.remove('dark')
            localStorage.darkMode = 'false';
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="./rss.xml" />
    <SeoHead postData={postData} />
    </script>
</head>

<body class="font-pacamara-inter transition-all duration-300 bg-white dark:bg-pacamara-dark">
    <Header />
    <slot />

    <Footer />
</body>
</html>